<mat-toolbar>
  <img
    src="https://local.communicare.med.br/assets/images/logo-branca.png"
    style="height: 40px; "
  />
</mat-toolbar>
<mat-card class="margin-top-bottom-5">
  <mat-card-header> </mat-card-header>
  <mat-card-content>
    <img
      src="https://media3.giphy.com/media/JYhR0379ebJ6M/source.gif"
      style="width: 100%"
    />
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<mat-card class="margin-top-bottom-5">
  <mat-card-content>
    <img
      src="https://thumbs.gfycat.com/DangerousNewHanumanmonkey-size_restricted.gif"
      style="width: 100%"
    />
  </mat-card-content>
</mat-card>

<mat-toolbar id="bottom-bar">
  <button aria-label="Camera" mat-raised-button>
    <mat-icon aria-hidden="false">camera</mat-icon>
  </button>
  <button aria-label="Microphone" mat-raised-button>
    <mat-icon aria-hidden="false">mic</mat-icon>
  </button>
  <button aria-label="Sound" mat-raised-button>
    <mat-icon aria-hidden="false">headset</mat-icon>
  </button>
  <button aria-label="Settings" mat-raised-button>
    <mat-icon aria-hidden="false">settings</mat-icon>
  </button>
</mat-toolbar>
